.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  text-underline-offset: 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__links-list-item_no-bullit a {
  text-decoration: none;
}

.header__logo {
  width: 138px;
  height: 103px;
  display: block;
}

.adress {
  justify-self: end;
  max-width: 240px;
  line-height: 1.38;
}

.adress a {
  text-underline-offset: 5px;
}

.cover {
  margin-bottom: 180px;
  padding: 165px 50px 50px 50px;
  background: url(../images/cover.jpg);
}

.card-lot-01 {
  background: url(../images/card-lot-01.jpg);
}

.card-lot-02 {
  background: url(../images/card-lot-02.jpg);
}

.card-lot-03 {
  background: url(../images/card-lot-03.jpg);
}

.description {
}

.lots {
  margin-bottom: 120px;
}

.about {
  margin-bottom: 180px;
}

.footer {
  margin-bottom: 82px;
}
